body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.greenBig {
    color: green;
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.questionTitle{

  color: blue;
  font-size: 25px;
  padding: 5px;
}


.answerBtn{
  font-size: 20px;
  padding: 3px;
}


#myScore{
  border: 2px black;
  background-color: black;
  color: white;
  height: 40px;
  position: fixed;
  right: 100px;
  top: 10px;
}

#gameDetails{
  border-color: yellow;
  border-style: solid;
  border-width: 5px;
  background-color: black;
  color: white;
  position: fixed;
  right: 100px;
  /*top: 10px;*/
}
