body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.greenBig {
    color: green;
    font: 25px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.questionTitle{

  color: blue;
  font-size: 25px;
  padding: 5px;
}


.answerBtn{
  font-size: 20px;
  padding: 3px;
}
